MAIN_COLOR='\033[36m'
SECONDARY_COLOR='\033[34m'
SUCCESS_COLOR='\033[0;32m'
FAILURE_COLOR='\033[0;31m'
INFO_COLOR='\033[0;35m'
NC='\033[0m'
BashSSH="$(echo -e '\033[96m'$USER'\033[0m' '\033[36m'BashSSH'\033[0m')"
S="$(echo -e '\033[32m'"$"'\033[0m')"
S2="$(echo -e '\033[36m'">"'\033[0m')"
ALWAYS_SHOW_INFO=False
